<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/logo.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/logo.png" alt="logo"/></a>
    <div class="navlink"><a href="/logout">Log Out</a><a href="/characters">Characters</a></div>
  </nav>
  <section class="makeDomo" id="makeDomo">
    
    <!--
    Player Name
    Character Name
    Level
    Alignment
    Class
    STR
    DEX
    CON
    INT
    WIS
    CHA
    Max Health
    Current Health
    Hit Die
    Armor Class
    Spell Save Difficulty
    Spells
    Items
    Character Background
    Proficiencies
    -->
    <form id="domoForm" name="domoForm" action="/maker" method="POST" class="domoForm">
      <div id="box1">
        <div class="boxOut">
          <label for="playerName">Player Name: </label>
          <input id="playerName" type="text" name="playerName" placeholder="Player Name" value="{{this.playerName}}"/>
        </div>
        <div class="boxOut">
          <label for="characterName">Character Name: </label>
          <input id="characterName" type="text" name="characterName" placeholder="Character Name" value="{{this.characterName}}"/>
        </div>
        <div class="boxOut">
          <label for="level">Level</label>
          <input id="level" type="text" name="level" placeholder="1" value="{{this.level}}" />
        </div>
        <div class="boxOut">
          <label for="firstAlignment">Alignment</label>
          <select id="firstAlignment" name="firstAlignment" value="{{this.firstAlignment}}">
            <option value="lawful">Lawful</option>
            <option value="neutral">Neutral</option>
            <option value="chaotic">Chaotic</option>
          </select>
          <select id="secondAlignment" name="secondAlignment" value="{{this.secondAlignment}}">
            <option value="good">Good</option>
            <option value="neutral">Neutral</option>
            <option value="evil">Evil</option>
          </select>
        </div>
        <div class="boxOut">
          <label for="myClass">Class</label>
          <input id="myClass" type="text" name="myClass" placeholder="Wizard" value="{{this.myClass}}" />
        </div>
      </div>
      <div id="box2">
        <div class="boxOut">
          <label for="STR">STR</label>
          <select id="STR" name="STR" value="{{this.STR}}">
            <option value="5">+5</option>
            <option value="4">+4</option>
            <option value="3">+3</option>
            <option value="2">+2</option>
            <option value="1">+1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
          </select>
        </div>
        <div class="boxOut">
          <label for="DEX">DEX</label>
          <select id="DEX" name="DEX" value="{{this.DEX}}">
            <option value="5">+5</option>
            <option value="4">+4</option>
            <option value="3">+3</option>
            <option value="2">+2</option>
            <option value="1">+1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
          </select>
        </div>
        <div class="boxOut">
          <label for="CON">CON</label>
          <select id="CON" name="CON" value="{{this.CON}}">
            <option value="5">+5</option>
            <option value="4">+4</option>
            <option value="3">+3</option>
            <option value="2">+2</option>
            <option value="1">+1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
          </select>
        </div>
        <div class="boxOut">
          <label for="INT">INT</label>
          <select id="INT" name="INT" value="{{this.INT}}">
            <option value="5">+5</option>
            <option value="4">+4</option>
            <option value="3">+3</option>
            <option value="2">+2</option>
            <option value="1">+1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
          </select>
        </div>
        <div class="boxOut">
          <label for="WIS">WIS</label>
          <select id="WIS" name="WIS" value="{{this.WIS}}">
            <option value="5">+5</option>
            <option value="4">+4</option>
            <option value="3">+3</option>
            <option value="2">+2</option>
            <option value="1">+1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
          </select>
        </div>
        <div class="boxOut">
          <label for="CHA">CHA</label>
          <select id="CHA" name="CHA" value="{{this.CHA}}">
            <option value="5">+5</option>
            <option value="4">+4</option>
            <option value="3">+3</option>
            <option value="2">+2</option>
            <option value="1">+1</option>
            <option value="0">0</option>
            <option value="-1">-1</option>
            <option value="-2">-2</option>
            <option value="-3">-3</option>
          </select>
        </div>
      </div>
      <div id="box3">
        <div class="boxOut">
          <label for="maxHealth">Max Health</label>
          <input id="maxHealth" type="text" name="maxHealth" placeholder="1" value="{{this.maxHealth}}" />
        </div>
        <div class="boxOut">
          <label for="currentHealth">Current Health</label>
          <input id="currentHealth" type="text" name="currentHealth" placeholder="1" value="{{this.currentHealth}}"/>
        </div>
        <div class="boxOut">
          <label for="hitDie">Hit Die</label>
          <input id="hitDie" type="text" name="hitDie" placeholder="d6" value="{{this.hitDie}}" />
        </div>
        <div class="boxOut">
          <label for="armorClass">Armor Class</label>
          <input id="armorClass" type="text" name="armorClass" placeholder="8" value="{{this.armorClass}}" />
        </div>
        <div class="boxOut">
          <label for="spellSaveDifficulty">Spell Save Difficulty</label>
          <input id="spellSaveDifficulty" type="text" name="spellSaveDifficulty" placeholder="8" value="{{this.spellSaveDifficulty}}" />
        </div>
      </div>
      <div id="box5">
        <div class="boxOut">
          <label for="spells">Spells</label>
          <textarea id="spells" name="spells" rows="6" cols="75" placeholder="Fireball" >{{this.spells}}</textarea>
        </div>
      </div>
      <div id="box4">
        <div class="boxOut">
          <label for="items">Items</label>
          <textarea id="items" name="items" rows="6" cols="75" placeholder="Bag of Holding" >{{this.items}}</textarea>
        </div>
      </div>
      <!--
      <div class="boxOut">
        <label for="characterBackground">Character Background</label>
        <textarea id="characterBackground" name="characterBackground" rows="6" cols="75" placeholder="What I learned in Boating School is..." >{{this.characterBackground}}</textarea>
      </div>
      -->
      <div id="box6">
        <div class="boxOut">
          <label for="proficiencies">Proficiencies</label>
          <textarea id="proficiencies" name="proficiencies" rows="6" cols="75" placeholder="Yodeling">{{this.proficiencies}}</textarea>
        </div>
      </div>


      <input type="hidden" name="_csrf" value={{this.csrfToken}} />
      <a id="makeDomoSubmit" href="#" class="makeDomoSubmit">Edit</a>

      <!--
      <label for="name">Name: </label>
      <input id="domoName" type="text" name="name" placeholder="Domo Name"/>
      <label for="age">Age: </label>
      <input id="domoAge" type="text" name="age" placeholder="Domo Age"/>
      <label for="domoClass">Class</label>
      <input id="domoClass" type="text" name="classs" placeholder="Wizard" />
      <input type="hidden" name="_csrf" value={{csrfToken}} />

      <a id="makeDomoSubmit" href="#" class="makeDomoSubmit">Make Domo</a>
      -->
    </form>
    <!--
    <form id="domoDeleteForm" name="domoDeleteForm" action="/edit" method="POST" class="domoDeleteForm">
      <label for="name">Name: </label>
      <input id="theName" type="text" name="name" placeholder="Domo Name"/>
      <label for="age">Age: </label>
      <input id="theAge" type="text" name="age" placeholder="Domo Age"/>
      <label for="domoClass">Class</label>
      <input id="theClass" type="text" name="classs" placeholder="Wizard" />
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <a id="deleteDomoSubmit" href="#" class="deleteDomoSubmit">Delete Domo</a>
    </form>
    -->
  </section>
  <div id="wizMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="penguin" src="/assets/img/logo_no_back.png" alt="Curious Conjurer"/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="/assets/maker.js" type="text/babel"></script>
</body>
</html>